annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
certifi==2026.2.25
cffi==2.0.0
click==8.3.1
cryptography==46.0.7
-e git+https://github.com/slucerodev/ExoArmur-Core.git@e41ce7bbbf20782ba2c12abd9c3187ddfcdd621b#egg=exoarmur_core
fastapi==0.135.2
h11==0.16.0
httpcore==1.0.9
httptools==0.7.1
httpx==0.28.1
idna==3.11
iniconfig==2.3.0
nats-py==2.14.0
packaging==26.0
pluggy==1.6.0
psutil==7.2.2
pycparser==3.0
pydantic==2.12.5
pydantic_core==2.41.5
Pygments==2.20.0
pytest==9.0.2
pytest-asyncio==1.3.0
python-dotenv==1.2.2
python-json-logger==4.1.0
python-ulid==3.1.0
PyYAML==6.0.3
starlette==1.0.0
typing-inspection==0.4.2
typing_extensions==4.15.0
uvicorn==0.42.0
uvloop==0.22.1
watchfiles==1.1.1
websockets==16.0
